{% extends 'home/base.html' %}

{% block body_block%}
    {% for post in posts %}

          <!-- Blog Post -->
            <div class="card mb-4">
                {% if post.image.url %}
                    <img class="card-img-top" src="{{ post.image.url }}" alt="Card image cap">
                {% endif %}
                <div class="card-body">
                    <h2 class="card-title">{{ posts.title }}</h2>
                    <p class="card-text">{{ post.content }}</p>
                    <a href="{% url 'post_detail' pk=post.pk %}" class="btn btn-primary">Read More &rarr;</a>
                </div>
                <div class="card-footer text-muted">
                    {{ post.upload_time }}
                    By : <a href="#">{{ post.author }}</a>
                    {% if user.is_authenticated %}
                        <a class="btn btn-warning" href="{% url "update" pk=post.pk %}">Edit</a>
                        <a class="btn btn-danger" href="{% url "delete" pk=post.pk %}">Delete Post</a>
                    {% endif %}
                </div>
            </div>
    {% endfor %}
{% endblock %}